@font-face {
  font-family: Minecrafter;
  src: url(fonts/minecrafter.ttf);
}

.app {
  font-family: Minecrafter;
  display: flex;
  flex-direction: column;
  background: url("bg.jpg");
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222222;
}

.server-status-list {
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.2);
  padding: 16px;
  margin: 32px;
  border-radius: 4px;
  width: 85vw;
  max-width: 550px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.server-status-item {
  background-color: rgba(255,255,255,0.4);
  padding: 16px;
  display: flex;
  font-size: 1.7rem;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  color: white;
  text-shadow: 0 2px 1px rgba(0,0,0,0.4);
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.server-error {
  color: white;
  text-align: center;
  font-size: 1.4rem;
}

.server-status-item:not(:last-child) {
  margin-bottom: 16px;
}

.server-name {
  display: flex;
}

.server-status-players, .server-status-loading {
  display: flex;
}

.slash {
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 10px;
  color: #dddddd;
  font-weight: 600;
}

.logo-container {
  display: flex;
  max-width: 80vw;
  justify-content: center;
}

.logo {
  object-fit: contain;
  max-width: 300px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
}

.loader {
  margin: 0px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.4em solid rgba(255, 255, 255, 0.2);
  border-right: 0.4em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.4em solid rgba(255, 255, 255, 0.2);
  border-left: 0.4em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.server-status-error {
  color: rgb(214, 84, 84);
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (max-width: 600px) {
  .logo {
    object-fit: contain;
    max-width: 60vw;
  }

  .server-status-item  {
    font-size: 1.2rem;
  }

  .slash {
    font-size: 0.8rem;
  }

  .loader,
  .loader:after {
    border-radius: 50%;
    width: 1.1rem;
    height: 1.1rem;
  }
}