@font-face {
  font-family: Minecrafter;
  src: url(fonts/minecrafter.ttf);
}

.app {
  font-family: Minecrafter;
  display: flex;
  flex-direction: column;
  background: url("bg.jpg");
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222222;
}

.server-status-list {
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.2);
  padding: 16px;
  margin: 32px;
  border-radius: 4px;
  width: 85vw;
  max-width: 550px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.server-status-item {
  background-color: rgba(255,255,255,0.4);
  padding: 16px;
  display: flex;
  font-size: 1.7rem;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  color: white;
  text-shadow: 0 2px 1px rgba(0,0,0,0.4);
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.server-status-item:not(:last-child) {
  margin-bottom: 16px;
}

.server-name {
  display: flex;
}

.server-status-players, .server-status-loading {
  display: flex;
}

.slash {
  font-size: 1.2rem;
  padding: 0 10px;
  color: #dddddd;
  font-weight: 600;
}

.logo-container {
  display: flex;
  max-width: 80vw;
  justify-content: center;
}

.logo {
  object-fit: contain;
  max-width: 360px;
}

@media screen and (max-width: 600px) {
  .logo {
    object-fit: contain;
    max-width: 80vw;
  }

  .server-status-item  {
    font-size: 1.4rem;
  }

  .slash {
    font-size: 0.8rem;
  }
}